body { 
  box-sizing: border-box;
  /* margin: 0;
  height: 100vh; */
  /* overflow: hidden; Hides scrollbar, but has no functionality */ 
  /* Ombre background */
  background-image: linear-gradient(rgb(49, 34, 68), rgb(62, 31, 71), rgb(77, 25, 77));
}

/* Hidden scrollbar, functional */
::-webkit-scrollbar {
  display: none;
}

.navbarstyle {
  /* background color for the nav bar */
  background-color: rgba(17, 5, 26, 0.644);
  display: flex; 
  font: bold 15px/1.5 Arial, Helvetica, sans-serif;
}

.navbarstyle a {
  float: left;
  display: block;
  color: #e4e3e3;
  text-decoration: none;
  /* spacing, left and right */
  padding: 15px 16px;
}

.navbarstyle a:hover {
  background-color: rgb(56, 39, 78);
}

.title {
  font-size: 35px;
  text-shadow: 5px 4px rgb(107, 58, 142);
  /* lines up the title with the rest of the links since they aren't lined up for some reason without this?? */
  margin-top: -13px;
} 

.navbarstyle .fa {
  display: none;
  /* color: white;
  padding-right: 10px;
  padding-top: 18px;  */
}

/* .navbarstyle .lookup {
  float: right;
} */

.navbarstyle input[type="text"] {
  margin-top: 17px;
  border-radius: 5px;
	border: 2px solid rgb(0, 0, 0);
  background-color: #dbdbdb;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.containers {
  color: #e4e3e3;
  font: bold 15px/1.5 Arial, Helvetica, sans-serif;
  padding-left: 10px;
  margin-top: 10px;
}
#section {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background: #2d163d;
  box-shadow: 0 0 10px rgba(248, 248, 248, 0.1);
}

#catags {
  margin: 0px auto 0px auto;
}

#add {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: transparent;
  width: 40px;
  height: 20px;
}

  /* .horzscroll {
   background-color: blue;
   display: flex;
    
  }

  .horzscroll img {
    display: block;
  } */

.end p{ 
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
} 

/* in progress to make menu actually functional */
  @media screen and (max-width: 600px) {

    .navbarstyle a:not(.title) {display: none;}

    .navbarstyle .fa {
      float: right;
      display: block;
      color: white;
      padding-top: 20px;
    }

    .navbarstyle .fa:hover {
      cursor: pointer;
      background-color:rgb(56, 39, 78);
    }

  }

  /* Top, right, bottom, left, margin shorthand */