body { 
	box-sizing: border-box;
	margin: 0;
	height: 100vh;
	/* overflow: hidden; Hides scrollbar, but has no functionality */ 
	background-color:rgb(191, 209, 215);
}
  
/* Hidden scrollbar, functional */
::-webkit-scrollbar {
    display: none;
}
  
.navbarstyle {
	/* background color for the nav bar */
	background-color: rgba(0, 0, 0, 0.696);
	display: flex; 
	font: 15px/1.5 Arial, Helvetica, sans-serif;
}
  
.navbarstyle a {
	float: left;
	display: block;
	color: #ffffff;
	text-decoration: none;
	/* spacing, left and right */
	padding: 15px 16px;
}
  
.navbarstyle a:hover {
	background-color: rgb(105, 148, 202);
}
  
.title {
	font-weight: bold;
	font-size: 35px;
	text-shadow: 5px 4px rgba(0, 0, 0, 0.632);
	/* lines up the title with the rest of the links since they aren't lined up for some reason without this?? */
	margin-top: -13px;
} 
  
.navbarstyle .fa {
	display: none;
	/* color: white;
	padding-right: 10px;
	padding-top: 18px;  */
}
  
  /* .navbarstyle .lookup {
	float: right;
  } */
  
.navbarstyle input[type="text"] {
	margin-top: 17px;
	border-radius: 5px;
	border: 2px solid rgb(0, 0, 0);
	background-color: #dbdbdb;
}

#intro {
	margin: 0 10px 0 0;
}

#hdrline {
	height: 2px;
	width: 100%;
	background-color: black;
}

#intropara {
	margin-left: 10px;
	margin-bottom: 30px;
}


#catags {
	/* width: 50%; */
	margin: 0 auto; 
	text-align: center;
	/* padding: 20px; */
}

#content {
	display: none;
	overflow: hidden;
	background-color: rgb(207, 236, 245);
}

.collaps {
	width: 155px;  
	box-shadow: 0px 5px 0px black;
	border-radius: 35px;
	color: white;
	background-color: rgb(254, 149, 236);
}

.collaps:hover {
	background-color: rgb(250, 191, 241);
}
  
.end p{ 
	text-align: center;
	color: white;
	/* position: absolute; */
	bottom: 0;
	width: 100%;
} 
  
  /* in progress to make menu actually functional */
	@media screen and (max-width: 600px) {
  
	  .navbarstyle a:not(.title) {display: none;}
  
	  .navbarstyle .fa {
		float: right;
		display: block;
		color: white;
		padding-top: 20px;
	  }
  
	  .navbarstyle .fa:hover {
		cursor: pointer;
		background-color:rgb(105, 148, 202);
	  }
  
	}
  
	/* Top, right, bottom, left, margin shorthand */