/* overall, everything */
body {
  width: 100%; /*makes the header background color stretch across the whole top (all three)*/
  margin: 0;
  padding: 0;
  font: bold 15px/1.5 Arial, Helvetica, sans-serif;
}
/* idden scrollbar, i just like it better this way */
::-webkit-scrollbar {
  display: none;
}
/* overall, navbar */
.navBarStyle {
  justify-content: space-between;
  font: bold 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: rgb(107, 173, 68);
  display: flex;
  padding: 10px; /**/
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownLinks {
  display: none;
  position: absolute;
  background-color: rgb(225, 226, 224);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownLinks a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdownLinks {
  display: block;
}

.navBarStyle .fa{
  display: none;
}

/* specifically logo */
.logo {
  display: flex;
  width: 90px; height: 75px;
}
/* specifically links */
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.navbarstyle .fa {
  display: none;
  /* color: white;
  padding-right: 10px;
  padding-top: 18px;  */
}

#direct {
  color: rgb(255, 255, 255);
  font: bold 12px/1.5 Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

#direct #address{
  white-space: normal;
  text-decoration: none;
  color: white;
}

#direct #address:hover{
  text-decoration: underline;
}

.content {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#opener {
  text-align: left;
  padding-left: 10px;
  width: 350px; 
  background-color: rgba(82, 200, 27, 0.253);
}

#imgCaro {
  background-color:rgba(106, 173, 68, 0.235);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

#hours {
  text-align: center;
}

table, th, td {
  margin: 0 auto; /*center the table*/
  width: 50%; 
  height: 46px;
  border: 1px solid black;
  border-collapse: collapse;
}

#schedual {
  text-decoration: none;
  color: rgb(108, 237, 108);
  font-weight: bold;
  font-size: 15px;
}

th {
  background-color: rgb(106, 210, 175);
}

figure {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.honored {
  text-decoration: none;
}

footer {
  padding: 1px;
  margin-top: auto;
  width: 100%;
  background-color: rgb(107, 173, 68);
  text-align: center;
}

footer img {
  vertical-align: middle; 
}

#upupup {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

#abtus {
  margin: 10px;
}

.learnmore {
  font: normal 15px/1.5 Arial, Helvetica, sans-serif;
}

#guest {
  margin: 10px;
}

.guestInfo {
  font: normal 15px/1.5 Arial, Helvetica, sans-serif;
}

.vendors {
  margin: 10px;
  text-align: left;
  font: normal 15px/1.5 Arial, Helvetica, sans-serif;
}

#guestrect {
  width: 500px;
  height: 140px;
  margin: auto;
  background-color: rgba(105, 173, 4, 0.386);
  display: flex;
  justify-content: center;
  align-items: center;
}

#formbg {
  width: 500px;
  height: 215px;
  margin: auto;
  background-color: rgba(105, 173, 4, 0.386);
  display: flex;
  justify-content: center;
  align-items: center;
}
